<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Customer Feedback</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
      #inputsentiment{
        width: 600px;
        height: 300px;
      }
    </style>
  </head>
  <body>
    <div style="padding: 50px; text-align: center;">
      <h1>Analyzing Customer Feedback</h1>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        
              <form action="/" method="post">
                <div class="mb-3">
                  <div><label for="inputsentiment" class="form-label" style="font-size: large;">Input the review text</label></div>
                  <textarea id="imputsentiment" name="inputext" rows="4" cols="50"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
              {% block content %} 
              {% endblock %}
      
    </div>
  </body>
</html>